@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--accent-primary);
  transition: color 0.2s;
}

a:hover {
  color: var(--accent-primary-hover);
}
